services:
  aiometadata:
    image: ghcr.io/cedya77/aiometadata:latest
    container_name: aiometadata
    user: "${PUID}:${PGID}"
    expose:
      - 3232
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.aiometadata.rule=Host(`${AIOMETADATA_HOSTNAME?}`)"
      - "traefik.http.routers.aiometadata.entrypoints=websecure"
      - "traefik.http.routers.aiometadata.tls.certresolver=letsencrypt"
      - "traefik.http.routers.aiometadata.middlewares=authelia@docker"
    volumes:
      - ${DOCKER_DATA_DIR}/aiometadata/data:/app/addon/data
    depends_on:
      aiometadata-redis:
        condition: service_healthy
    profiles:
      - aiometadata
      - all
    restart: unless-stopped

  aiometadata-redis:
    image: redis:8.4-alpine
    container_name: aiometadata-redis
    user: "${PUID}:${PGID}"
    command: redis-server --appendonly yes --save 60 1
    volumes:
      - ${DOCKER_DATA_DIR}/aiometadata/cache:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s
    profiles:
      - aiometadata
      - all
    restart: unless-stopped
