services:
  cinebye:
    image: d1nn/stremio-addon-manager:main
    container_name: cinebye
    expose:
      - 80
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cinebye.rule=Host(`${CINEBYE_HOSTNAME?}`)"
      - "traefik.http.routers.cinebye.entrypoints=websecure"
      - "traefik.http.routers.cinebye.tls.certresolver=letsencrypt"
      - "traefik.http.routers.cinebye.middlewares=authelia@docker"
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s
    profiles:
      - cinebye
      - all
    restart: unless-stopped
